.listItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(58, 64, 90, 0.5);
    padding-right: 30px;
    padding-left: 30px;
    background-color: rgba(249, 222, 201, 0.5);
    border-radius: 20px;
    margin-bottom: 20px;
}

.listContent{
    
    width: 40%;
}

.quantity{
    color: rgba(104, 80, 68, 1);
    font-weight: bold;
    font-size: 17px;
}

.name{
    color: rgba(58, 64, 90, 1);
    font-size: 20px;
}

.description{
    color: rgba(58, 64, 90, 1);
    margin-top: -10px;
    margin-bottom: -10px;
    font-size: 17px;
}