.cartButton{
    margin-right: 30px;
    height:60%;
    min-height: 50px;
    width: 8%;
    min-width: 50px;
    background-color: rgba(249, 222, 201, 1);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    padding: 5px 20px;
}

.logo{
    height: 30px;
    width: 30px;
}

.cartName{
    font-weight: bold;
}

.cartQuantity{
    background-color: rgba(104, 80, 68, 1);
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
}